<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2°DS-AMS | EPA 2024</title>
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/css/root.css">
    <link rel="icon" href="../public/image/logo.png">
</head>

<body>
    <div class="container">
        <nav class="navbar-content">
            <a class="navbar-logo" href="#home">
                <img src="../public/image/logo.png" alt="">
                <h2 class="dscoteca">DSCOTECA</h2>
            </a>

            <div class="navbar">
                <ul>
                    <li><a href="#sponsor" title="Teste">Patrocinadores</a></li>
                    <li><a href="#projects">Projetos</a></li>
                    <li><a href="#gallery">Galeria</a></li>
                    <li><a href="#feedback">Feedbacks</a></li>
                </ul>
            </div>
        </nav>

        <header class="header-content" id="home">

            <div class="left">
                <div class="letf-texts">
                    <h1 class="start-text">2°DS-AMS </h1>
                    <h1 class="start-text">APRESENTA</h1>
                    <h1 class="dscoteca">DSCOTECA</h1>
                    <p>O 2° DS-AMS apresentará o projeto <a href="#projects">"DSCOTECA"</a> nos dias 22, 23 e 24 de
                        outubro, das 14h às 17h,
                        combinando discoteca e fliperama, e compartilhando conhecimentos do curso de Arduino.</p>
                </div>
            </div>
            <div class="right">
                <img src="../public/image/globo.png" alt="">
            </div>

        </header>

        <main class="main-content">
            <section class="main-section sponsor" id="sponsor">
                <h1>Patrocinadores</h1>
                <div class="sponsor-content">
                    <a class="logo">
                        <img src="../public/image/logo.png" alt="">
                    </a>
                    <a class="logo">
                        <img src="../public/image/logo.png" alt="">
                    </a>
                    <a class="logo">
                        <img src="../public/image/logo.png" alt="">
                    </a>
                    <a class="logo">
                        <img src="../public/image/logo.png" alt="">
                    </a>
                    <a class="logo">
                        <img src="../public/image/logo.png" alt="">
                    </a>
                    <a class="logo">
                        <img src="../public/image/logo.png" alt="">
                    </a>
                    <a class="logo">
                        <img src="../public/image/logo.png" alt="">
                    </a>
                    <a class="logo">
                        <img src="../public/image/logo.png" alt="">
                    </a>
                    <a class="logo">
                        <img src="../public/image/logo.png" alt="">
                    </a>
                    <a class="logo">
                        <img src="../public/image/logo.png" alt="">
                    </a>
                    <a class="logo">
                        <img src="../public/image/logo.png" alt="">
                    </a>
                    <a class="logo">
                        <img src="../public/image/logo.png" alt="">
                    </a>
                    <a class="logo">
                        <img src="../public/image/logo.png" alt="">
                    </a>
                    <a class="logo">
                        <img src="../public/image/logo.png" alt="">
                    </a>
                    <a class="logo">
                        <img src="../public/image/logo.png" alt="">
                    </a>
                    <a class="logo">
                        <img src="../public/image/logo.png" alt="">
                    </a>
                    <a class="logo">
                        <img src="../public/image/logo.png" alt="">
                    </a>
                    <a class="logo">
                        <img src="../public/image/logo.png" alt="">
                    </a>
                    <a class="logo">
                        <img src="../public/image/logo.png" alt="">
                    </a>
                    <a class="logo">
                        <img src="../public/image/logo.png" alt="">
                    </a>
                    <a class="logo">
                        <img src="../public/image/logo.png" alt="">
                    </a>
                    <a class="logo">
                        <img src="../public/image/logo.png" alt="">
                    </a>
                    <a class="logo">
                        <img src="../public/image/logo.png" alt="">
                    </a>
                    <a class="logo">
                        <img src="../public/image/logo.png" alt="">
                    </a>
                </div>
            </section>

            <section class="main-section projects" id="projects">
                <div class="right-effect">

                </div>
                <h1>Projetos</h1>
                <div id="projects-content">

                </div>

                <!-- <div class="project-item">
                    <h1 class="h1-project"></h1>
                    <p class="p-project"></p>
                </div>
                <div class="project-item">
                    <h1 class="h1-project"></h1>
                    <p class="p-project"></p>
                </div>
                <div class="project-item">
                    <h1 class="h1-project"></h1>
                    <p class="p-project"></p>
                </div>
                <div class="project-item">
                    <h1 class="h1-project"></h1>
                    <p class="p-project"></p>
                </div>
                <div class="project-item">
                    <h1 class="h1-project"></h1>
                    <p class="p-project"></p>
                </div>
                <div class="project-item">
                    <h1 class="h1-project"></h1>
                    <p class="p-project"></p>
                </div> -->
            </section>

            <div class="gallery-content" id="gallery">
                <section class="main-section gallery-content1">
                    <h1>GALERIA DOS PROJETOS</h1>

                    <div class="gallery">
                        <div class="image"></div>
                        <div class="image"></div>
                        <div class="image"></div>
                        <div class="image"></div>
                        <div class="image"></div>
                    </div>

                </section>

                <section class="main-section gallery-content2">
                    <h1>GALERIA DOS VISITANTES</h1>

                    <div class="gallery">
                        <div class="image"></div>
                        <div class="image"></div>
                        <div class="image"></div>
                        <div class="image"></div>
                        <div class="image"></div>
                    </div>

                </section>
            </div>


            <section class="main-section feedback" id="feedback">
                <h1>Faça seu Feedback</h1>
                <form action="" class="feedback-form">
                    <label for="name">Nome Completo</label>
                    <p>Ao responder o seu nome irá ser registrado no nosso banco de dados e irá aparecer junto com os
                        outros feedbacks logo abaixo desse formulário</p>
                    <input id="name" type="text">
                    <label for="rating">Avalie</label>
                    <div class="star-rating">
                        <input type="radio" name="rating" id="star5" value="5">
                        <label for="star5">&#9733;</label>
                        <input type="radio" name="rating" id="star4" value="4">
                        <label for="star4">&#9733;</label>
                        <input type="radio" name="rating" id="star3" value="3">
                        <label for="star3">&#9733;</label>
                        <input type="radio" name="rating" id="star2" value="2">
                        <label for="star2">&#9733;</label>
                        <input type="radio" name="rating" id="star1" value="1">
                        <label for="star1">&#9733;</label>
                    </div>

                    <label for="message">Fale sobre o que achou do projeto</label>
                    <textarea id="message" name="message" maxlength="500" oninput="updateCounter()"> </textarea>
                    <p id="char-count">0/500 caracteres</p>

                    <input type="submit" class="form-submit">
                </form>
            </section>
        </main>

        <footer class="footer-content">
            <div class=""></div>
            <div class=""></div>
        </footer>

    </div>

</body>

</html>

<script src="../public/JS/main.js"></script>