<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2°DS-AMS | EPA 2024</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>
    <div class="container">
        <nav class="navbar-content">
            <a class="navbar-logo">
                <img src="../public/image/logo.png" alt="">
                <h2 class="dscoteca">DSCOTECA</h2>
            </a>

            <div class="navbar">
                <ul>
                    <li><a href="">Patrocinadores</a></li>
                    <li><a href="">Projetos</a></li>
                    <li><a href="">Galeria</a></li>
                    <li><a href="">Feedbacks</a></li>
                </ul>
            </div>
        </nav>

        <header class="header-content">

            <div class="left">
                <div class="letf-titles">
                    <h1 class="">2°DS-AMS </h1>
                    <h1 class="">APRESENTA</h1>
                    <h1 class="dscoteca">DSCOTECA</h1>
                </div>
                <div class="right-text">
                    <p>O 2° DS-AMS apresentará o projeto "DSCOTECA" nos dias 22, 23 e 24 de outubro, das 14h às 17h, combinando discoteca e fliperama, e compartilhando conhecimentos do curso de Arduino.</p>
                </div>
            </div>
            <div class="right">
                <img src="" alt="">
            </div>

        </header>

        <main class="main-content">
            <section class="main-section">

            </section>

            <section class="main-section">

            </section>

            <section class="main-section">

            </section>

            <section class="main-section">

            </section>

            <section class="main-section">

            </section>
        </main>

        <footer class="footer-content">
            <div class=""></div>
            <div class=""></div>
        </footer>

    </div>



</body>

</html>