/* Section Gallery */
/* Seções de Galeria */

.gallery-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    background: var(--gradient-all);
    margin-bottom: 1em;
}

.gallery-content-text {
    display: flex;
    flex-direction: column;
    padding: 1em 0vw;
    gap: 1em;
    width: 90%;
}

.gallery-content-text h1 {
    color: var(--color-white);
    font-weight: 600;
    font-style: normal;
    font-family: var(--font-jersey);
    font-size: 3em;
    width: 100%;
    text-align: center;
}

.gallery-content-text p {
    font-size: max(0.8em, 1em);
    text-align: center;
    color: var(--color-white);
    font-family: var(--font-raleway);
}

.gallery-content-text a {
    color: var(--color-azul-pastel);
}

.gallery {
    width: 90%;
    height: max-content;
    /* background: rgba(255, 255, 255, 0.2);     */
    background: var(--color-white);
    padding: 1em;
    gap: 1em;
    border-radius: 0.5vw;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(auto-fit, auto);
}

.gallery-item {
    width: 100%;
    height: auto;
    justify-self: center;
}

.largeX {
    grid-column: auto / 2 span;
}

.largeY {
    grid-row: auto / 2 span;
}

.gallery h1 {
    font-size: max(2em, 4em);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px;
}

.modal-content {
    display: block;
    margin: auto;
    width: auto;
    height: calc(100% - 20px);
}

.close {
    color: red;
    font-size: 2.5em;
    font-weight: bold;
    position: absolute;
    top: 20px;
    right: 30px;
    cursor: pointer;
}

.download-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 2.5em;
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
    z-index: 1;
}

.download-button:hover {
    color: #007bff;
    /* Muda a cor ao passar o mouse */
}

.instagram-button-owner {
    position: absolute;
    bottom: 80px;
    right: 20px;
    font-size: 2.8em;
    color: rgba(255, 255, 255, 0.2);
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
    z-index: 1;
}

.instagram-button-owner i {
    background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
    -webkit-background-clip: text;
    color: transparent;
}

.tutorial {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
}

@media screen and (max-width: 1170px) {
    .modal-content {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 785px) {
    .gallery {
        width: 90%;
        height: max-content;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 0.5vw;
        display: grid;
        grid-template-columns: repeat(1, auto);
        gap: 1em;
    }

    .gallery-item img {
        width: 50%;
        height: auto;
        aspect-ratio: 1/1;
        justify-self: center;
    }

    .modal-content {
        width: 100%;
        height: auto;
    }

    .modal {
        align-self: center;
        justify-self: center;
    }

    .largeX {
        grid-column: auto;
    }
}