/* Section Gallery */
/* Seções de Galeria */

.gallery-content1,
.gallery-content2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: var(--gradient-all);
}

.gallery-content1 h1, .gallery-content2 {
    color: var(--color-white);
    font-weight: 600;
    font-style: normal;
    font-family: var(--font-jersey);
    font-size: 3em;
    padding: 1em 0vw;
    width: 100%;
    text-align: center;
}

.gallery {
    width: 90%;
    height: max-content;
    /* background: rgba(255, 255, 255, 0.2);     */
    border-radius: 0.5vw;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(auto-fit, auto);
}

.gallery img {
    width: 50%;
    height: auto;
    aspect-ratio: 1/1;
    justify-self: center;
}

.gallery h1{
    font-size: max(2em, 4em);
}

@media screen and (max-widht: 785px){
    .gallery {
        width: 90%;
        height: max-content;
        /* background: rgba(255, 255, 255, 0.2);     */
        border-radius: 0.5vw;
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(auto-fit, auto);
        gap: 1em;
    }

    .gallery img {
        width: 50%;
        height: auto;
        aspect-ratio: 1/1;
        justify-self: center;
    }
}