* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html,
body,
.container {
    width: 100%;
    height: 100%;
}

.dscoteca {
    font-family: var(--font-monoton);
    font-weight: 100;
}

/* Sections Config All */
/* Configurações de todas as seções */

.main-section {
    width: 100%;
    height: 100vh;
    background: purple;
}