@import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=Monoton&family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Russo+One&display=swap');
@import url('root.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html,
body,
.container {
    width: 100%;
    height: 100%;
}

.dscoteca {
    font-family: var(--font-monoton);
    font-weight: 100;
}

/* Navbar */
/* Menu */

.navbar-content {
    width: 100%;
    height: 150px;
    background: var(--gradient-all);
    padding: 25px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
}

.navbar-logo img {
    width: 7vw;
    height: 7vw;
    border-radius: 100%;
    aspect-ratio: 1/1;
}

.navbar-logo {
    display: flex;
    align-items: center;
    gap: 20px;
    text-decoration: none;
}

.navbar-logo h2 {
    font-family: var(--font-monoton);
    font-size: 3vw;
    background: var(--gradient-text);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 30px;
    font-family: var(--font-russo);
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 3vw;
    font-size: 1.5vw;
}

.navbar a {
    color: var(--color-white);
    text-decoration: transparent;
}

.navbar a:hover {
    text-decoration: underline;
    text-decoration-color: var(--color-white);
    transition: all 1s ease-in-out;
}

/* Header */
/* Cabeçalho */

.header-content {
    width: 100%;
    height: auto;
    background: var(--gradient-all);
    color: var(--color-white);
    height: 850px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.left {
    order: 1;
    width: 50%;
    height: 100%;
    padding: 20px 120px 180px 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.left-texts {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 1.5em;
}

.letf-texts h1 {
    font-size: 5vw;
    text-align: left;
    font-weight: 300;
}

.letf-texts p {
    font-size: 1.5vw;
    text-align: left;
    text-justify: inter-word;
    font-family: var(--font-roboto);
    font-weight: 300;
}

.letf-texts a {
    color: var(--color-white);
    text-decoration-color: var(--color-white);
    font-weight: bold;
}

.letf-texts a:hover {
    color: var(--color-violeta-medio);
    text-decoration-color: var(--color-violeta-medio);
    transition: all 1s ease-in-out;
}

.start-text {
    font-family: var(--font-raleway);
    font-feature-settings: 'pnum' on, 'lnum' on;
    /* Interessante coloca o número do jeito normal com as fontes */
}

.left .dscoteca {
    font-family: var(--font-monoton);
    background: linear-gradient(45deg, #e0e0e0, #bdbdbd, #9e9e9e);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.right {
    order: 2;
    width: 50%;
    height: 100%;
    padding: 0px 50px 60px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right img {
    width: 90%;
    height: 100%;
}

/* Sections Config All */
/* Configurações de todas as seções */

.main-section {
    width: 100%;
    height: 100vh;
    background: purple;
}

/* Section Sponsor */
/* Seções Patrocinadores */

.sponsor {
    background: var(--gradient-all);
    border: 1px solid var(--color-white);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1vw;
}

.sponsor h1 {
    font-family: var(--font-jersey);
    color: var(--color-white);
    font-weight: 600;
    font-style: normal;
    font-size: 5vw;

}

.sponsor .sponsor-content {
    width: 90%;
    height: 80%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 1vw;
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
    display: grid;
    grid-template-columns: auto;
    padding: 1vw;
    gap: 0.5vw;
    grid-template-columns: repeat(auto-fit, minmax(10vw, 1fr));
    align-items: center;
    justify-items: center;
}

.sponsor-content img {
    height: 8vw;
    width: 8vw;
    aspect-ratio: 1/1;
}

/* Section Projects */
/* Seções de Projetos */

.projects {
    width: 100%;
    height: 100%;
    background: var(--gradient-all);
    padding: 1vw 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    flex-direction: column;
}

.projects h1 {
    font-family: var(--font-jersey);
    color: var(--color-white);
    font-weight: 600;
    font-style: normal;
    font-size: 3vw;
}

.projects-item {
    width: 100%;
    height: 100%;
}

.h1-project {
    font-family: var(--font-jersey);
    color: var(--color-white);
    font-weight: 400;
    font-style: normal;
    font-size: 3vw;
    padding: 1vw 0vw;
    font-feature-settings: 'pnum' on, 'lnum' on;
}

/* .text-img {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "text img";
    flex: 50%;
    gap: 2vw;
}

.text-img img{
    grid-area: "img";
    width: 25%;
    height: auto;
    aspect-ratio: 16 / 9;
} */

.p-project {
    grid-area: "text";
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    padding: 1.5vw;
    font-family: var(--font-raleway);
    font-size: 1vw;
    color: var(--color-white);
    text-align: justify;
    font-feature-settings: 'pnum' on, 'lnum' on;

}

/* Section Gallery */
/* Seções de Galeria */

.gallery-content1,
.gallery-content2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: var(--gradient-all);
}

.gallery-content h1 {
    color: var(--color-white);
    font-weight: 600;
    font-style: normal;
    font-family: var(--font-jersey);
    font-size: 3vw;
    padding: 2vw 0vw;
}

.gallery {
    width: 80%;
    height: 70%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 0.5vw;
}

/* Section Feedback */
/* Seção de Avaliações */

.feedback {
    width: 100%;
    height: 100vh;
    background: var(--gradient-all);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.feedback h1 {
    color: var(--color-white);
    font-weight: 600;
    font-style: normal;
    font-family: var(--font-jersey);
    font-size: 4vw;
    width: 30vw;
    text-align: center;
    padding: 1vw 0vw;
}

.feedback p {
    color: var(--color-white);
    font-weight: 100;
    font-style: normal;
    text-align: justify;
    font-family: var(--font-raleway);
    padding: 0.2vw 0vw;
    font-size: 1vw;
}

.feedback-form {
    width: 30vw;
    display: flex;
    flex-direction: column;
    height: auto;
}

.feedback-form input,
.feedback-form textarea,
.feedback-form label {
    width: 100%;
    padding: 0.5vw;
    color: var(--color-white);
    cursor: pointer;
}

.feedback-form label {
    display: flex;
    height: auto;
    font-weight: 600;
    font-family: var(--font-jersey);
    font-style: normal;
    font-size: 1.5vw;
    padding: 1vw 0vw;
    flex-direction: column;
}

.feedback-form label h2{
    font-size: 1.5vw;
}

.feedback-form input,
.feedback-form textarea {
    font-size: 1em;
    border-radius: 0.3vw;
    background: rgba(255, 255, 255, 0.2);
    border: none;
}

.feedback-form input {
    height: 10%;
}

.feedback-form textarea {
    display: flex;
    font-size: 1rem;
    text-align: justify;
    padding: 1vw;
    height: 20vh;
    max-height: 30vh;
    resize: vertical;
    width: 100%;
    box-sizing: border-box;
    word-wrap: break-word;
}

.feedback-form .form-submit {
    background-color: var(--color-azul-eletrico);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.feedback-form .form-submit:hover {
    background-color: var(--color-violeta-medio);
}

.star-rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.star-rating input[type="radio"] {
    display: none;
}

.star-rating label {
    width: auto;
    color: var(--color-white);
    cursor: pointer;
    text-align: center;
    padding: 1vw;
    display: inline-block;
    line-height: 1;
    font-size: 2vw;
}

.start-rating i {
    font-size: 4vw;
}

.star-rating input[type="radio"]:checked~label,
.star-rating label:hover,
.star-rating label:hover~label {
    color: gold;
}

#char-count {
    font-size: 12px;
    color: var(--color-white);
    font-feature-settings: 'pnum' on, 'lnum' on;
    padding: 0.5vw 0vw;
}

.feedback-cards {
    display: flex;
    align-items: start;
    /* justify-content: center; */
    background: var(--gradient-all);
    flex-direction: column;
}

.feedback-cards h1 {
    color: var(--color-white);
    font-weight: 600;
    font-style: normal;
    font-family: var(--font-jersey);
    font-size: 4vw;
    width: 100%;
    text-align: center;
    padding: 1vw 0vw;
}

.cards-content {
    padding: 1vw;
    display: flex;
    width: 100%;
    height: 100%;
}

.card {
    position: relative;
    width: 25vw;
    max-height: 48vh;
    height: auto;
    /* background: rgba(255, 255, 255, 0.473); */
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 1vw;
    padding: 1vw;
    overflow: hidden; /* Certifique-se de que nada exceda o card */
    z-index: 10;
}

.card::before, .card::after {
    content: '';
    position: absolute;
    top: 0; /* Certifique-se de que comece no topo do card */
    left: 0; /* Comece na esquerda do card */
    z-index: 1; 
    width: calc(100% + 100px); 
    height: calc(100% + 100px); 
    border-radius: 8px;
    background: linear-gradient(45deg, #ffff00, #00ff00, #0099ff, #ffff00, #00ff00, #0099ff, #a200ff);
    background-size: 300%;
    animation: borderAnimation 8s linear infinite;
}

.card::after {
    filter: blur(20px); /* Blur para criar um efeito de brilho */
}

@keyframes borderAnimation {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 300%;
    }
}

.card h3 {
    font-family: var(--font-jersey);
    color: var(--color-white);
    font-size: 1vw;
    font-weight: 600;
    font-style: normal;
    padding: 0.5vw 0vw;
    width: 100%;
}

.number-count{
    font-family: var(--font-jersey);
    color: var(--color-white);
    font-size: 2vw;
    font-feature-settings: 'pnum' on, 'lnum' on;
}

.number-count:hover{
    animation: rgb 3s infinite;
}

.card-text, .card-name{
    font-size: 1.25vw;
}

.active-star {
    color: gold;
}

.card:hover .active-star,
.card:hover .number-count {
    animation: rgb 3s infinite; 
}

/* @keyframes rgb {
    0% {
        color: orange;
    }
    15% {
        color: purple;
    }
    30% {
        color: green;
    }
    45% {
        color: aqua;
    }
    60% {
        color: pink;
    }
    75% {
        color: yellow;
    }
    90% {
        color: red;
    }
    100% {
        color: orange;
    }
} */

@keyframes rgb {
    0% {
        color: red;
    }
    10% {
        color: orange;
    }
    20% {
        color: yellow;
    }
    30% {
        color: lightgreen;
    }
    40% {
        color: green;
    }
    50% {
        color: cyan;
    }
    60% {
        color: lightblue;
    }
    70% {
        color: blue;
    }
    80% {
        color: purple;
    }
    90% {
        color: pink;
    }
    100% {
        color: red;
    }
}

.stars i {
    font-size: 1.25vw;
}

.card-text,
.card-name {
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: justify;
    font-family: var(--font-roboto);
    color: var(--color-white);
}

@media only screen and (max-width: 768px) {
    .right {
        display: none;
    }

    .left {
        width: 100%;
    }

    .left-texts {
        text-align: center;
        font-size: 1em;
    }
}