@import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=Monoton&family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Russo+One&display=swap');
@import url('root.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html,
body,
.container {
    width: 100%;
    height: 100%;
}

.dscoteca {
    font-family: var(--font-monoton);
    font-weight: 100;
}

/* Navbar */
/* Menu */

.navbar-content {
    width: 100%;
    height: 150px;
    background: var(--gradient-all);
    padding: 25px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
}

.navbar-logo img {
    width: 7vw;
    height: 7vw;
    border-radius: 100%;
    aspect-ratio: 1/1;
}

.navbar-logo {
    display: flex;
    align-items: center;
    gap: 20px;
    text-decoration: none;
}

.navbar-logo h2 {
    font-family: var(--font-monoton);
    font-size: 3vw;
    background: var(--gradient-text);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 30px;
    font-family: var(--font-russo);
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 3vw;
    font-size: 1.5vw;
}

.navbar a {
    color: var(--color-white);
    text-decoration: none;
    transition: all 3s ease; 
}

.navbar a:hover {
    text-decoration: underline;
    text-decoration-color: var(--color-white);
}

/* Header */
/* Cabeçalho */

.header-content {
    width: 100%;
    height: auto;
    background: var(--gradient-all);
    color: var(--color-white);
    height: 850px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.left {
    order: 1;
    width: 50%;
    height: 100%;
    padding: 20px 120px 180px 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.left-texts {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 1.5em;
}

.letf-texts h1 {
    font-size: 5vw;
    text-align: left;
    font-weight: 300;
}

.letf-texts p {
    font-size: 1.5vw;
    text-align: left;
    text-justify: inter-word;
    font-family: var(--font-roboto);
    font-weight: 300;
}

.letf-texts a{
    color: var(--color-white);
    text-decoration-color: var(--color-white);
    font-weight: bold;
    transition: all 1s ease-in-out;
}

.letf-texts a:hover{
    color: var(--color-violeta-medio);
    text-decoration-color: var(--color-violeta-medio);
}

.start-text {
    font-family: var(--font-raleway);
    font-feature-settings: 'pnum' on, 'lnum' on;
    /* Interessante coloca o número do jeito normal com as fontes */
}

.left .dscoteca {
    font-family: var(--font-monoton);
    background: linear-gradient(45deg, #e0e0e0, #bdbdbd, #9e9e9e);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.right {
    order: 2;
    width: 50%;
    height: 100%;
    padding: 0px 50px 60px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right img {
    width: 90%;
    height: 100%;
}

/* Sections Config All */
/* Configurações de todas as seções */

.main-section {
    width: 100%;
    height: 80vh;
    background: purple;
}

/* Section Sponsor */
/* Seções Patrocinadores */

.sponsor {
    background: var(--gradient-all);
    border: 1px solid var(--color-white);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1vw;
}

.sponsor h1 {
    font-family: var(--font-jersey);
    color: var(--color-white);
    font-weight: 600;
    font-style: normal;
    font-size: 5vw;

}

.sponsor .sponsor-content {
    width: 90%;
    height: 80%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 1vw;
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
    display: grid;
    grid-template-columns: auto;
    padding: 1vw;
    gap: 0.5vw;
    grid-template-columns: repeat(auto-fit, minmax(10vw, 1fr));
    align-items: center;
    justify-items: center;
}

.sponsor-content img {
    height: 8vw;
    width: 8vw;
    aspect-ratio: 1/1;
}

/* Section Projects */
/* Seções de Projetos */

.projects {
    width: 100%;
    height: 100%;
    background: var(--gradient-all);
    padding: 1vw 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    flex-direction: column;
}

.projects h1 {
    font-family: var(--font-jersey);
    color: var(--color-white);
    font-weight: 600;
    font-style: normal;
    font-size: 3vw;
}

.projects-item {
    width: 100%;
    height: 100%;
}

.h1-project {
    font-family: var(--font-jersey);
    color: var(--color-white);
    font-weight: 400;
    font-style: normal;
    font-size: 3vw;
    padding: 1vw 0vw;
    font-feature-settings: 'pnum' on, 'lnum' on;
}

/* .text-img {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "text img";
    flex: 50%;
    gap: 2vw;
}

.text-img img{
    grid-area: "img";
    width: 25%;
    height: auto;
    aspect-ratio: 16 / 9;
} */

.p-project {
    grid-area: "text";
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    padding: 1.5vw;
    font-family: var(--font-raleway);
    font-size: 1vw;
    color: var(--color-white);
    text-align: justify;
    font-feature-settings: 'pnum' on, 'lnum' on;
    
}

/* Section Gallery */
/* Seções de Galeria */

.gallery-content1,
.gallery-content2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: var(--gradient-all);
}

.gallery-content h1 {
    color: var(--color-white);
    font-weight: 600;
    font-style: normal;
    font-family: var(--font-jersey);
    font-size: 3vw;
    padding: 2vw 0vw;
}

.gallery {
    width: 80%;
    height: 70%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 0.5vw;
}

/* Section Feedback */
/* Seção de Avaliações */

.feedback {
    width: 100%;
    height: 100vh;
    background: var(--gradient-all);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.feedback h1{
    color: var(--color-white);
    font-weight: 600;
    font-style: normal;
    font-family: var(--font-jersey);
    font-size: 4vw;
    padding: 3vw 0vw;
}

.feedback p{
    color: var(--color-white);
    font-weight: 100;
    font-style: normal;
    text-align: justify;
    font-family: var(--font-raleway);
    padding: 0.2vw 0vw;
}

.feedback-form {
    width: 30%;
    height: auto;
}

.feedback-form input, 
.feedback-form textarea, 
.feedback-form label{
    width: 100%;
    padding: 0.5vw;
    color: var(--color-white);
}

.feedback-form label{
    height: 100%;
    font-weight: 600;
    font-family: var(--font-jersey);
    font-style: normal;
    font-size: 1.5vw;
    padding: 2vw 0vw;
}

.feedback-form input,
.feedback-form textarea{
    font-size: 1em;
    border-radius: 0.3vw;
    background: rgba(255, 255, 255, 0.2);
    border: none;
}

.feedback-form input{
    height: 10%;
}

.feedback-form textarea{
    height: 17vh;
    font-size: 0.8vw;
    text-align: justify;
}

.feedback-form .form-submit{
    background-color: var(--color-azul-eletrico);
    margin-top: 1vw;
    transition: all 0.2s ease-in-out;
    cursor:pointer;
}

.feedback-form .form-submit:hover{
    background-color: var(--color-violeta-medio);
    margin-top: 1vw;
}

.star-rating {
    direction: rtl;
    display: flex;
}

.star-rating input[type="radio"] {
    display: none;
}

.star-rating label {
    font-size: 30px;
    color: #ddd;
    cursor: pointer;
}

.star-rating input[type="radio"]:checked~label {
    color: gold;
}

.star-rating input[type="radio"]:hover~label {
    color: gold;
}

/* Contador de caracteres */
#char-count {
    font-size: 12px;
    color: #555;
}